In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_excel('terr_data.xlsm')

In [5]:
l=dataset['gname'].value_counts(sort=True)

In [6]:
l

Unknown                                                            12210
Taliban                                                             4900
Islamic State of Iraq and the Levant (ISIL)                         4273
Al-Shabaab                                                          2350
Boko Haram                                                          1921
                                                                   ...
Tehrik-e-Hurriyat (TeH)                                                1
Zawiya Martyrs Brigade                                                 1
Niger Delta Justice Defense Group (NDJDG)                              1
Lone Wolves of Radical, Autonomous, Militant National Socialism        1
Liwa al-Haqq                                                           1
Name: gname, Length: 769, dtype: int64

In [27]:
dataset['gname']=dataset['gname'].mask(dataset['gname'].map(dataset['gname'].value_counts(normalize=True))<0.01,"others")

In [28]:
l=dataset['gname'].value_counts()

In [29]:
l

others                                         20182
Unknown                                        12210
Taliban                                         4900
Islamic State of Iraq and the Levant (ISIL)     4273
Al-Shabaab                                      2350
Name: gname, dtype: int64

In [30]:
dataset.head()

,iyear,imonth,iday,country_txt,city,attacktype1_txt,targtype1_txt,corp1,target1,natlty1_txt,gname,weaptype1_txt,weapsubtype1_txt,weapdetail,nkill,nwound,propextent_txt,ransomamt
0,2012,1,1,Kenya,Garissa,Armed Assault,Business,Locus Pub,Bar,Kenya,Al-Shabaab,Explosives/Bombs/Dynamite,Grenade,Two grenades and AK-47 assault rifles were use...,3.0,14.0,Minor (likely < $1 million),NaN
1,2012,1,1,Pakistan,Sui,Bombing/Explosion,Military,Frontier Corps (FC),Soldiers,Pakistan,others,Explosives/Bombs/Dynamite,Land Mine,NaN,4.0,3.0,Minor (likely < $1 million),NaN
2,2012,1,1,Kenya,Garissa,Armed Assault,Business,Unknown,Bar,Kenya,Al-Shabaab,Explosives/Bombs/Dynamite,Grenade,NaN,2.0,14.0,Minor (likely < $1 million),NaN
3,2012,1,1,Afghanistan,Karez,Bombing/Explosion,Military,North Atlantic Treaty Organization (NATO): Int...,Vehicle,International,Taliban,Explosives/Bombs/Dynamite,Unknown Explosive Type,NaN,0.0,0.0,Unknown,NaN
4,2012,1,1,Democratic Republic of the Congo,Shabunda,Facility/Infrastructure Attack,Private Citizens & Property,Not Applicable,Civilians,Democratic Republic of the Congo,others,Incendiary,Arson/Fire,NaN,18.0,5.0,Minor (likely < $1 million),NaN

In [31]:
categorical_feature=[feature for feature in dataset.columns if dataset[feature].dtypes== 'O']

In [37]:
feature_with_na=[feature for feature in categorical_feature if dataset[feature].isnull().sum()>1]

In [39]:
for feature in feature_with_na:
    print(feature,np.round(dataset[feature].isnull().mean(),4))

natlty1_txt 0.013
weapsubtype1_txt 0.104
weapdetail 0.6132
propextent_txt 0.6444

In [40]:
new_data=dataset.copy()

In [44]:
new_data.isnull().sum()

iyear                   0
imonth                  0
iday                    0
country_txt             0
city                    0
attacktype1_txt         0
targtype1_txt           0
corp1                   0
target1                 0
natlty1_txt           573
gname                   0
weaptype1_txt           0
weapsubtype1_txt     4569
weapdetail          26930
nkill                2625
nwound               4602
propextent_txt      28300
ransomamt           43642
dtype: int64

In [45]:
new_data['natlty1_txt'].fillna(new_data['natlty1_txt'].value_counts().index[0],inplace=True)

In [47]:
new_data.isnull().sum()

iyear                   0
imonth                  0
iday                    0
country_txt             0
city                    0
attacktype1_txt         0
targtype1_txt           0
corp1                   0
target1                 0
natlty1_txt             0
gname                   0
weaptype1_txt           0
weapsubtype1_txt     4569
weapdetail          26930
nkill                2625
nwound               4602
propextent_txt      28300
ransomamt           43642
dtype: int64

In [48]:
for feature  in feature_with_na:
    dataset[feature].fillna(dataset[feature].value_counts().index[0],inplace=True)

In [51]:
#dataset.isnull().sum()
#dataset.head()

In [62]:
numerical_feature=[feature for feature in dataset.columns if dataset[feature].dtypes!='O' and dataset[feature].isnull().sum()>1]

In [63]:
dataset[numerical_feature]

       nkill  nwound  ransomamt
0        3.0    14.0        NaN
1        4.0     3.0        NaN
2        2.0    14.0        NaN
3        0.0     0.0        NaN
4       18.0     5.0        NaN
...      ...     ...        ...
43910   15.0     7.0        NaN
43911    0.0     0.0        NaN
43912    0.0     NaN        NaN
43913    0.0     0.0        NaN
43914    0.0     0.0        NaN

[43915 rows x 3 columns]

In [57]:
'''new_data=dataset.copy()
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()'''

In [58]:
#new_data['iyear']=encoder.fit_transform(new_data['iyear'])

In [61]:
#new_data.tail()

In [64]:
for feature in numerical_feature:
    dataset[feature].fillna(dataset[feature].median(),inplace=True)

In [67]:
#dataset.isnull().sum()

In [68]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for feature in categorical_feature:
    encoded=encoder.fit_transform(dataset[feature])
    dataset[feature]=encoded

In [69]:
dataset.head()

,iyear,imonth,iday,country_txt,city,attacktype1_txt,targtype1_txt,corp1,target1,natlty1_txt,gname,weaptype1_txt,weapsubtype1_txt,weapdetail,nkill,nwound,propextent_txt,ransomamt
0,2012,1,1,56,4206,0,2,4764,1084,63,0,2,6,5788,3.0,14.0,1,15860.45
1,2012,1,1,82,11535,2,9,2201,9799,96,4,2,10,1604,4.0,3.0,1,15860.45
2,2012,1,1,56,4206,0,2,7297,1084,63,0,2,6,1604,2.0,14.0,1,15860.45
3,2012,1,1,0,5999,2,9,5528,10957,53,2,2,24,1604,0.0,0.0,2,15860.45
4,2012,1,1,27,10956,3,13,5547,2402,30,4,5,0,1604,18.0,5.0,1,15860.45

In [1]:
dataset.to_csv('prepared.csv',index=False)

NameError: name 'dataset' is not defined